LADDER_PORT=8080
LADDER_REF=main
LADDER_USERPASS=admin:change-me
LADDER_RULESET=https://raw.githubusercontent.com/everywall/ladder-rules/main/ruleset.yaml
LADDER_LOG_URLS=false
LADDER_USER_AGENT=Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/149.0.0.0 Safari/537.36
LADDER_ALLOW_REQUEST_USER_AGENT=true
LADDER_ALLOW_CUSTOM_USER_AGENT=false
